* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.container {
    max-width: 2560px;
    margin: 0 auto;
}

#first-look {
    background-color: rgb(185, 207, 230);
    height: 720px;
}

header {
    background-color: white;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 400;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

#jumbotron a {
    text-decoration: none;
}

.actions a {
    text-decoration: none;
}

a {
    color: blue;
}

:not(.plans).col ul {
    list-style: none;
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
}

.col li {
    padding-left: 20px;
    font-size: 18px;
}

.button {
    background-color: rgb(0, 97, 255);
    display: inline-block;
    padding: 8px 15px;
    color: white;
    font-size: 18px;
}

.button.blue {
    padding: 10px 15px;
    margin-top: 10px;
}

.action {
    background-color: rgb(0, 97, 255);
    display: inline-block;
    font-size: 18px;
}

#logo {
    height: 30px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

/*jumbo*/

#section-one {
    padding: 60px;
    min-height: 200px;
    max-width: 70%;
}

.content-main {
    width: 65%;
    display: flex;
    padding-top: 30px;
}

h1 {
    width: 100%;
    font-size: 76px;
    margin-bottom: 20px;
    font-weight: 800;
}

.jumbotron {
    display: flex;
    justify-content: center;
}

.jumbo-right img {
    width: 200%;
}

.jumbo-left .p {
    display: flex;
}

.jumbo-left-text {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: black;
    padding-bottom: 30px;
}

.small-text {
    font-size: 1.1rem;
    margin-top: 30px;
    padding-bottom: 70px;
}

h2 {
    padding-top: 40px;
    font-size: 40px;
    text-align: left;
}

h3 {
    font-size: 24px;
}

.round {
    text-align: left;
    padding-top: 50px;
    padding-bottom: 40px
}

.circle-blue {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 4px solid blue;
    border-radius: 50%;
    vertical-align: middle;

}

.circle-white {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 50px;
}

.container-small {
    width: 1050px;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1400px;
    margin-bottom: 450px;
}

.border {
    border: 1px solid darkgray;
}

#times {
    padding-top: 60px;
    width: 100%;
}

.plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 75%;
    margin-bottom: 50px;
}

.single-plan {
    line-height: 45px;
}

.team-plan {
    line-height: 45px;
}

.azienda-plan {
    line-height: 45px;
}

.plan-category {
    text-align: center;
}

#check {
    color: rgb(0, 97, 255)
}

hr {
    width: 20%;
    margin-top: 40px;
    margin-left: 20px;
}

.plan-name {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.plan-price {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

.m-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
    padding: 10px;
}

.w-40 {
    width: 40%;
    padding-left: 50px;
    padding-top: 50px;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.link-office {
    margin-left: 750px;
}

.grey {
    color: gray;
}

.info-plan li {
    padding: 10px;
}

.actions {
    padding: 20px;
    text-align: center;
}

.title {
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: large;
}

.fa-ul li {
    padding: 15px;
}

.office {
    flex-wrap: wrap;
    padding: 15px;
}

#last {
    padding: 10px;
}

.info-plan p {
    padding-left: 20px;
}

.container-partner {
    width: 1000px;
    margin: 0 auto;
}

.partner {
    display: flex;
}

.botton-partner {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
}

.container-focus {
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-info {
    width: 1000px;
    margin: 100px auto;
}

#info-customers {
    margin-top: 60px;
}

.more-info {
    padding-top: 40px;
}

.partnerships .squares {
    height: 683px;
    width: calc(100% / 3);
}

.partnerships,
.squares .square-big {
    flex-wrap: wrap;
}

.square-small {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid transparent;
    transition: border-color 0.2s linear;
}

.squares {
    display: flex;
    background-color: transparent;
    height: 100%;
    width: 100%
}

.square-big {
    height: calc(100vw /3);
    display: flex;
    flex-wrap: wrap;
}

.square-small img {
    filter: invert(1);
    width: 50%;
    display: block;
}

.square-middle {
    width: 75%;
    flex-wrap: wrap;
}

.content {
    padding: 30px;
}

.bg-green {
    background-color: rgb(162, 211, 155);
}

.bg-bordeaux {
    background-color: rgb(99, 8, 44);
}

.bg-skyblue {
    background-color: rgb(0, 145, 209);
}

.bg-orange {
    background-color: rgb(251, 28, 29);
}

.content {
    padding-top: 40px;
    background-color: rgb(245, 245, 245);
}

.bg-red {
    background-color: rgb(210, 0, 30);
}

.bg-lightblue {
    background-color: rgb(180, 210, 231);
}

.bg-blue {
    background-color: rgb(13, 35, 130);
}

.bg-yellow {
    background-color: rgb(255, 215, 50);
}

.container-end {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    align-items: baseline;
    color: rgb(99, 8, 44);
}

.free-trial-square {
    width: 100%;
    padding-top: 130px;
    background-color: rgb(177, 206, 230);
    align-items: center;
    height: 400px;
}

.button-white {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 15px 15px;
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
}

.question {
    padding-top: 120px;
    height: 250px;
}

.faq-container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.question-title {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 30px 30px 30px 0;
    cursor: pointer;
}

.question-content {
    padding-top: 35px;
}

.question-content {
    display: none;
}

.question-title::after {
    font-weight: bolder;
    content: "\02C5";
}

.question-title:hover .question-content {
    display: block;
}

.question-title:hover::after {
    font-weight: bolder;
    content: "\02C4";
}

.footer-zone {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 50px;
}

.foot-colm a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.start-footer {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

.footer-zone hr {
    width: 15%;
    color: lightgray;
}

.foot-colm h4 {
    padding: 40px 0;
}

.foot-colm li {
    padding-top: 15px;
}