* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

header {
    background-color: white;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    color: black;
    text-decoration: none;
    justify-content: center;
}

li {
    padding-left: 50px;
    font-size: 18px;
}

.button {
    background-color: rgb(40, 95, 246);
    display: inline;
    padding: 8px 15px;
    color: white;
    font-size: 18px;
}

#logo {
    height: 30px;
    display: block;
    margin: 0 auto;
}

header .navbar {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 50px;
}

section {
    padding: 70px;
    min-height: 200px;
    background-color: rgb(185, 207, 230);
}

#jumbotron .content {
    width: 50%;
    align-items: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}