* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.container {
    max-width: 2560px;
    margin: 0 auto;
}

#first-look {
    background-color: rgb(185, 207, 230);
    height: 750px;
}

header {
    background-color: white;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    font-weight: 400;

}

.user-menu {
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    color: black;
    text-decoration: none;
    justify-content: center;
}

li {
    padding-left: 20px;
    font-size: 18px;
}

.button {
    background-color: rgb(40, 95, 246);
    display: inline-block;
    padding: 8px 15px;
    color: white;
    font-size: 18px;
}

.button.blue {
    padding: 10px 15px;
    margin-top: 10px;
}

#logo {
    height: 30px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

header .navbar {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 20px;
}

/*jumbo*/

#section-one {
    padding: 70px;
    min-height: 200px;
    max-width: 70%;
}

.content-main {
    width: 65%;
    display: flex;
    padding-top: 40px;
}

h1 {
    width: 100%;
    font-size: 76px;
    margin-bottom: 20px;
    font-weight: 800;
}

.jumbotron {
    display: flex;
    justify-content: center;
}

.jumbo-right img {
    width: 200%;
}

.jumbo-left .p {
    display: flex;
}

.jumbo-left-text {
    font-weight: 500;
    font-size: 18px;
    text-align: left;
    color: black;
    padding-bottom: 30px;
}

.small-text {
    font-size: 1.1rem;
    margin-top: 30px;
    padding-bottom: 70px;
}

i {
    font-size: 60px;
}

h2 {
    padding-top: 60px;
    font-size: 40px;
}

#title-business {
    min-height: 200px;
    width: 50%;
}

#times {
    padding-top: 60px;
}

#business {
    display: flex;
}

.plan {
    border: 1px solid darkgray
}

.plan-types {
    width: 30%;
    height: 800px;
}